html {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #00ecaa;
}
main{
  min-height: 40vh;
}
h1 {
  color: #5d3ede;
  font-size: 90px;
  text-shadow: 5px 5px 5px black;
  text-align: center;
}
#input-div {
  display: flex;
  justify-content: center;
}
input {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #18624d5d;
}
input::placeholder {
  color: white;
}

select {
  margin: 10px;
  border-radius: 10px;
  background-color: #18624d5d;
  color: white;
}

#button-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
nav button {
  background-color: #5d3ede;
  color: #00ecaa;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  font-size: 20px;
  border: none;
  box-shadow: 5px 5px 5px black;
}
#output-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.product-card {
  background-color: aliceblue;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.product-card p {
  color: #5d3ede;
}
.product-card button {
  background-color: #5d3ede;
  color: #00ecaa;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  font-size: 20px;
  border: none;
  box-shadow: 5px 5px 5px black;
}
img {
  max-height: 200px;
  object-fit: contain;

}
footer{
  background-color: #5d3ede;
  height: 100px;
}
footer p{
  padding-top: 40px;
  text-align: center;
  color: #00ecaa;
}
/* LOADER */

.loader {
  color: #5d3ede;
  font-size: 70px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  margin: 40px auto;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
